{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a href="{% url "recipe_list" %}">Main Page</a>
        <a href="{% url "edit_recipe" recipe_object.id %}">Edit Recipe</a>
    </nav>
</header>
<main>
    <h1 class="vt-color">{{ recipe_object.title }}</h1>
    <div class="picture_alignment">
        <img src="{{ recipe_object.picture}}">
    </div>
    <div class="stars-color">
        4.3 Stars
    </div>
    <p class="picture_alignment">{{ recipe_object.description }}</p>
    <h2 class="vt-color">Ingredients</h2>
        <table class="ingredients-table">
            <thead>
                <tr class="disabled bold-text">
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <h2 class="vt-color">Steps</h2>
    <div class="picture_alignment">
    <ol>
        {% for step in recipe_object.steps.all %}
        <li>{{ step.instruction }}</li>
        {% endfor %}
    </ol>
    </div>
</main>
{% endblock content %}
