{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content %}
<header>
    <nav>
        <a id="nav-link" href="{% url "recipe_list" %}">Main Page</a>
    </nav>
</header>
<main>
    <h1> Edit {{ recipe_object.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ recipe_form.as_p }}
        <button>Save</button>
   </form>
</main>
{% endblock content %}
