{% extends 'base.html' %}
{% block title %}
    Scrumptious Recipes
{% endblock title %}

{% block content%}
<header>
    <nav>
            <a class="nav-bar-color"href="{% url "recipe_list" %}">Main Page</a>
        {% if user.is_authenticated %}
            <a class="nav-bar-color"href="{% url "create_recipe" %}">Create a Recipe</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="nav-bar-color"href="{% url "my_recipe_list" %}">My Recipes</a>
        {% endif %}
        {% if user.is_authenticated %}
            Hello, {{ user.username }}
            <a class="nav-bar-color"href="{% url "logout" %}">Logout</a>
        {% else %}
            <a href="{% url 'signup' %}">Sign up</a>
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </nav>
</header>
<main>
    <h1 class="title-color">Scrumptious Recipes</h1>
    <h2 class="vt-color">All the food that's fit to eat</h2>
    <div class="flex-container">
        {% for recipe in recipe_list %}
            {% comment %} {% for recipe in recipe_list %}
                <li class"{% cycle "grey" "" %}">{{ name }}</li>
            {% endfor %} {% endcomment %}
        <div>
            <h3>
                <a href="{% url 'show_recipes' recipe.id %}">{{ recipe.title }}</a>
            </h3>
            <div>
                <p>{{ recipe.created_on|date:"D M j, Y" }}</p>
                <img src="{{ recipe.picture }}" alt="vegetarian tacos displayed on a plate">
            </div>
            <div class="stars-color">
                4.3 Stars
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock content %}
