body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 16px;
}

img {
    height: 200px;
}

nav {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: rgba(240, 248, 255, 0.539);
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.title-color {
    justify-self: center;
    color: #000000;
    background-color: rgba(234, 234, 234, 0.545);
    width: fit-content;
}

.vt-color {
    display: flex;
    justify-content: center;
    color: #000000;
}

.stars-color {
    display: flex;
    justify-content: center;
    color: #000000;
}

tr:nth-child(even):not(.disabled) {
   background-color: #F2F2F2;
}

.bold-text {
    font-weight: 800;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    padding-bottom: 50px;
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #0d5e18;
}

#nav-link {
    color: #0442BF;
}

.alignment {
    display: grid;
    justify-content: center;
}

footer {
    color: #F2F2F2;
    background-color: #8c6a03bc;
    width:fit-content;
    bottom: 16px;
    position: relative;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
}

.nav-bar-color{
    color: #0442BF;
}

p {
    display: flex;
    justify-content: center;
}

th {
    background-color: rgba(240, 248, 255, 0.728);
}

tbody {
    background-color: rgba(240, 248, 255, 0.537);
}

table {
    justify-content: center;
    align-content: center;
    gap: 5px;
    text-align: center;
}

.picture_alignment {
    display: flex;
    justify-content: center;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 1px 1px 2px aliceblue;
    font-weight: 400;
    padding-bottom: 15px;
}
/* li {
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.2);
    padding: 12px;
    background-color: white;
} */
