{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
<style>
    body {
        background-image: url(https://wallpapercave.com/wp/wp3104899.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    {% block content %}{% endblock %}
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>
